{% extends "movies_register/base.html" %}
{% load crispy_forms_tags %}


{% block content %}
<form action="" method="post" autocomplete="off">
    {% csrf_token %}
    {{form.title|as_crispy_field}}


     <div class="row">
        <div class="col-md-4">
      {{form.actor|as_crispy_field}}
        </div>
        <div class="col-md-8">

    {{form.director|as_crispy_field}}
        </div>
    </div>
    {{form.synopsis|as_crispy_field}}

      <div class="row">
        <div class="col-md-4">
    {{form.writer|as_crispy_field}}
    {{form.genre|as_crispy_field}}
        </div>
        <div class="col-md-8">
    {{form.country|as_crispy_field}}
    {{form.rating|as_crispy_field}}
        </div>
    </div>


    <div class="row">
        <div class="col-md-4">
    {{form.score|as_crispy_field}}
    {{form.year|as_crispy_field}}
        </div>
        <div class="col-md-8">
    {{form.runtime|as_crispy_field}}
    {{form.release|as_crispy_field}}
        </div>
    </div>
    <div class="row">
        <div class="col-md-8">
            <button type="submit" class="btn btn-success btn-block btn-lg"><i class="fas fa-database"></i>
                Submit</button>
        </div>
        <div class="col-md-4">
            <a href="{% url 'movies_list' %}" class="btn btn-secondary btn-block btn-lg">
                <i class="fas fa-stream"></i> Back to list
            </a>
        </div>
    </div>

</form>
{% endblock content %}