{% extends "movies_register/base.html" %}


{% block content %}
<table class="table table-borderless">
    <thead class="border-bottom font-weight-bold">
        <tr>
            <th>Title</th>
            <th>Actor</th>
            <th>Director</th>
            <th>Writer</th>
            <th>Genre</th>
            <th>Synopsis</th>
            <th>Country</th>
            <th>Rating</th>
            <th>Score</th>
            <th>Year</th>
            <th>Release</th>
            <th>Runtime</th>
            <td>
                <a href="{% url 'movies_insert' %}" class="btn btn-outline-success">
                    <i class="fas fa-plus"></i> Add New
                </a>
            </td>
        </tr>
    </thead>
    <tbody>
        {% for Movies in movies_list %}
            <tr>
                <td>{{Movies.title}}</td>
                <td>{{Movies.actor}}</td>
                <td>{{Movies.director}}</td>
                <td>{{Movies.writer}}</td>
                <td>{{Movies.genre}}</td>
                <td>{{Movies.synopsis}}</td>
                <td>{{Movies.country}}</td>
                <td>{{Movies.rating}}</td>
                <td>{{Movies.score}}</td>
                <td>{{Movies.year}}</td>
                <td>{{Movies.release}}</td>
                <td>{{Movies.runtime}}</td>
                <td>
                    <a href="{% url 'movies_update' Movies.id %}" class="btn text-secondary px-0">
                        <i class="far fa-edit fa-lg"></i>
                    </a>
                    <form action="{% url 'movies_delete' Movies.id %}" method="post" class="d-inline">
                        {% csrf_token %}
                        <button type="submit" class="btn">
                            <i class="far fa-trash-alt fa-lg text-danger float-right"></i>
                        </button>
                    </form>
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock content %}